<h1>All Events:</h1>

<ul>
    <% @events.each do |ev| %>
        <li>
            <%= link_to ev.name, ev %>
        </li>
    <% end %>
</ul>
<br><br><br><br>
<%= link_to "Create Your Own Event >", new_event_path %>